@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: hsl(185, 75%, 39%);
}

p {
  color: hsl(0, 0%, 59%);
}
